<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wanmudong.oamly.modules.permission.mapper.MemberRoleMapper">


    <select id="getRolePermissions" resultType="top.wanmudong.oamly.modules.permission.entity.MemberRole">
        select * from sys_member_role;
    </select>
</mapper>
