<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wanmudong.oamly.modules.user.mapper.RecruitMapper">
    <update id="updateStatus">
        update oa_recruit set status = #{status} where id = #{id}
    </update>
    <update id="updateCurrent">

        update oa_recruit set `current`=#{current} where id = #{id}


    </update>
    <update id="updateDepart">
       update oa_recruit set depart=#{depart},current=#{current} where id = #{id}

    </update>


    <select id="getRecruitByContent" resultType="top.wanmudong.oamly.modules.user.entity.Recruit">
        select
        *
        from oa_recruit
        where
        (stuid like  concat('%',#{condition.content},'%') or `name`  like concat('%',#{condition.content},'%') or phone  like concat('%',#{condition.content},'%'))
        <if test="sysuser.role==1 and sysuser.depart!=1">
            and depart =#{sysuser.depart}
            and campus=#{sysuser.campus}
            and status=1
        </if>
        <if test="sysuser.role==2 and sysuser.depart!=1">
            and depart =#{sysuser.depart}
            <if test="condition.campus !=null  and condition.campus !=''">
                and campus=#{condition.campus}
            </if>
            and status=1
        </if>
        <if test="sysuser.role==1 and sysuser.depart==1">
            <if test="condition.depart !=null  and condition.depart !=''">
                and depart =#{condition.depart}
            </if>
            <if test="condition.campus !=null  and condition.campus !=''">
                and campus=#{condition.campus}
            </if>
            and status=1
        </if>
        <if test="sysuser.role==2 and sysuser.depart==1">
            <if test="condition.depart !=null  and condition.depart !=''">
                and depart =#{condition.depart}
            </if>
            <if test="condition.campus !=null  and condition.campus !=''">
                and campus=#{condition.campus}
            </if>
            and status=1
        </if>
        <if test=" sysuser.role==3">
            <if test="condition.depart !=null  and condition.depart !=''">
                and depart =#{condition.depart}
            </if>
            <if test="condition.campus !=null  and condition.campus !=''">
                and campus=#{condition.campus}
            </if>
            and status=1
        </if>
        <if test="sysuser.role==1024">
            <if test="condition.depart !=null  and condition.depart !=''">
                and depart =#{condition.depart}
            </if>
            <if test="condition.campus !=null  and condition.campus !=''">
                and campus=#{condition.campus}
            </if>
        </if>
        order by id desc

    </select>
    <select id="selectByStuid" resultType="top.wanmudong.oamly.modules.user.entity.Recruit">
        select * from oa_recruit where stuid=#{stuid};
    </select>
    <select id="selectBystatus" resultType="top.wanmudong.oamly.modules.user.entity.Recruit">
         select * from oa_recruit where status=#{i};
    </select>
</mapper>
